header .cart {
    position:relative;
    cursor:pointer
}

header .cart box-icon {
    width: 45px;
    height: 45px;
}

header .cart span {
    position: absolute;
    top: -1rem;
    right: -1rem;
    border: 1px solid red;
    border-radius: 50%;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: red;
    font-weight: 700;
}